<div class="tab-pane fade" id="microstructure" role="tabpanel">
    <div class="table-responsive">
        <table class="table table-striped" id="microTable">
            <thead>
                <tr>
                    <th>Coin</th>
                    <th>Cohesion</th>
                    <th>Acc Vol</th>
                    <th>FBI</th>
                    <th>OFSI</th>
                    <th>FSI</th>
                    <th>Z-Press</th>
                    <th>TIM</th>
                    <th>CIS</th>
                    <th>LSI</th>
                    <th>Range Comp</th>
                    <th>PFCI</th>
                </tr>
            </thead>
            <tbody id="microBody"></tbody>
        </table>
    </div>
</div>