<div class="tab-pane fade" id="spikes" role="tabpanel">
    <div class="table-responsive">
        <table class="table table-striped" id="spikeTable">
            <thead>
                <tr>
                    <th>Coin</th>
                    <th>⏱ Timeframe</th>
                    <th>📊 Vol</th>
                    <th>➗ Avg</th>
                    <th>⚡ Ratio</th>
                    <th>📈 Price Δ</th>
                    <th>💡 Recs</th>
                    <th>⏰ Update</th>
                </tr>
            </thead>
            <tbody id="spikeBody"></tbody>
        </table>
    </div>
</div>