<div class="tab-pane fade" id="volDur" role="tabpanel">
    <div class="table-responsive">
        <table class="table table-striped" id="volDurTable">
            <thead>
                <tr>
                    <th>Coin</th>
                    <th>📊 Change %</th>
                    <th>1m</th>
                    <th>5m</th>
                    <th>10m</th>
                    <th>15m</th>
                    <th>20m</th>
                    <th>30m</th>
                    <th>1h</th>
                    <th>24h</th>
                </tr>
            </thead>
            <tbody id="volDurBody"></tbody>
        </table>
    </div>
</div>