<div class="tab-pane fade" id="volume" role="tabpanel">
    <div class="table-responsive">
        <table class="table table-striped" id="volTable">
            <thead>
                <tr>
                    <th>Coin</th>
                    <th>📊 Buy 1m</th>
                    <th>📊 Sell 1m</th>
                    <th>📊 Buy 5m</th>
                    <th>📊 Sell 5m</th>
                    <th>📊 Buy 10m</th>
                    <th>📊 Sell 10m</th>
                    <th>📊 Buy 15m</th>
                    <th>📊 Sell 15m</th>
                    <th>📊 Buy 20m</th>
                    <th>📊 Sell 20m</th>
                    <th>📊 Buy 30m</th>
                    <th>📊 Sell 30m</th>
                    <th>📊 Buy 60m</th>
                    <th>📊 Sell 60m</th>
                    <th>📊 Buy 120m</th>
                    <th>📊 Sell 120m</th>
                    <th>📊 Ratio %</th>
                    <th>📊 Buy (24h)</th>
                    <th>📊 Sell (24h)</th>
                    <th>📊 Total (24h)</th>
                </tr>
            </thead>
            <tbody id="volBody">
            </tbody>
        </table>
    </div>
</div>